<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <form #f="ngForm" >
          <div class="form-group">
            <label for="search" class="control-label col-sm-3" >Search by description :</label>
            <div class="input-group col-xs-12 col-sm-8 col-md-6">
              <div class="input-group-addon"><div class="glyphicon glyphicon-search"></div></div>
              <input
              id="search"
              class="form-control"
              type="text"
              ngModel
              name="search"
              #search="ngModel"
              (ngModelChange)="keyStroke($event)"
              />
              <div class="input-group-addon"><div class="glyphicon glyphicon-list"></div></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <th scope="col">WO ID</th>
            <th scope="col">Description</th>
            <th scope="col">Recive Date</th>
            <th scope="col">Assigned to</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataFiltered">
            <td>{{ item.work_order_id }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.received_date }}</td>
            <td>
              <tr *ngFor="let ass of item.assigned_to">
                {{
                  ass.person_name
                }}
              </tr>
            </td>
            <td>
              <tr *ngFor="let ass of item.assigned_to">
                {{
                  ass.status
                }}
              </tr>
            </td>
            <td>{{ item.priority }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

